@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px !important;
    margin: auto !important;
}
body{
    font-family: 'Century Gothic Paneuropean', sans-serif !important;
}